.content
	label.content__label Первое число:
		input(type="number" class="content__input")

	label.content__label Второе число:
		input(type="number" class="content__input")

	button(class="content__button") Сложить
